.notification {
  position: relative;
  cursor: pointer;
}

.notification-title {
  font-weight: bold;
}

.notification-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.notification-dropdown p {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: black;
}

.notification-dropdown p:last-child {
  border-bottom: none;
}
