.profile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  width: 800px;
}

.profile ::placeholder {
  font-size: small;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 400px;
  background-color: #e0eaef;
  text-align: center;
  margin-right: 20px;
  border-radius: 5px;
  padding-bottom: 20px;
}

.general-info-container {
  display: flex;
}

.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000000;
  margin-top: 20px;
  display: block;
}
.profile-picture h4 {
  font-size: 1.2rem;
}

.change-photo-button {
  margin-top: 0;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #61bfad;
  color: white;
}

.profile-info {
  background-color: #e0eaef;
  padding: 20px;
  border-radius: 8px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.change-password {
  background-color: #e0eaef;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.profile-info h3 {
  margin-bottom: 20px;
  font-size: 20px;
  align-items: center;
}

.profile-info label {
  display: block;
  margin-bottom: 10px;
}
.change-password label {
  display: block;
  margin-bottom: 10px;
}

.name-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.name-input input {
  margin-right: 10px;
  background: none;
  appearance: none;
  padding: 1px;
}

.profile-info select {
  margin-right: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  padding: 1px 0;
  font-size: 14px;
  outline: none;
  border-radius: 0;
  margin-bottom: 20px;
}

.profile-info-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.save-button {
  padding: 10px 20px;
  background-color: #61bfad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #3a7369;
}

.update {
  color: #fff;
  background-color: #61bfad;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  width: 90px;
  height: 35px;
}
.update:hover {
  background-color: #3a7369;
}
.h3-update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -12px;
}

.year-batch {
  display: flex;
  align-items: center;
  gap: 20px;
}

.batch input {
  background: none;
}

.dept-input select {
  width: 100%;
  margin-bottom: 15px;
}

.change-password input {
  background: none;
  appearance: none;
  padding: 1px;
  margin-bottom: 10px;
}

.change-pw-heading {
  font-size: 1.1rem;
  font-weight: bold;
}
.password-field {
  display: flex;
  align-items: center;
}
