

.event-form-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.event-form {
  display: flex;
  flex-direction: column;
}

.form-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

input[type="file"] {
  padding: 8px;
}

textarea {
  height: 150px;
}

select {
  background-color: #f9f9f9;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #44aa8b;
  outline: none;
  box-shadow: 0 0 8px rgba(68, 170, 139, 0.2);
}

.event-form .create-btn {
  background-color: #44aa8b;
  color: #fff;
  font-size: 1.2rem;
  padding: 18px 20px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 25px;
  width: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.event-form .create-btn:hover {
  background-color: #358d6f;
}

.file-upload {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.file-upload input {
  display: block;
  margin-top: 10px;
  width: auto;
  padding: 8px;
  font-size: 1rem;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #44aa8b;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #358d6f;
}

input[type="file"]:focus {
  border-color: #44aa8b;
}

.event-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-field {
  width: calc(50% - 10px);
}

.form-field input,
.form-field textarea {
  width: 100%;
}

form input[type="number"] {
  -moz-appearance: textfield;
}

form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"],
input[type="number"],
textarea {
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  margin-top: 8px;
}

select {
  padding: 12px;
  font-size: 1rem;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .event-details {
    flex-direction: column;
  }

  .form-field {
    width: 100%;
  }

  .file-upload {
    padding: 10px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  button.create-btn {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .event-form-container {
    margin: 20px;
    padding: 15px;
  }

  .form-header {
    font-size: 1.6rem;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .file-upload {
    margin-top: 15px;
  }
}
