@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.sidebar {
  min-width: 250px;
  width: 250px;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 20px;
  margin-top: 20px;
  font-size: 3rem;
}

.sidebar-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #000000;
  margin: 10px 0;
  background-color: #e9f4f2;
  border: 0.1px solid #00000034;
  border-radius: 5%;
}

.sidebar-items {
  display: flex;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  justify-content: left;
  margin: 10px;
  box-sizing: border-box;
  align-items: center;
  border: none;
  background-color: #e9f4f2;
  cursor: pointer;
  font-family: "Roboto";
  border-radius: 10px;
  width: calc(100% - 20px);
  font-size: 1rem;
}

.sidebar-items:hover {
  background-color: #d6e5e2;
  color: #010101;
}

.fas {
  width: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-footer {
  /* margin-top: auto; */
  display: flex;
  width: 100%;
  border: none;
}

.logout {
  color: rgb(156, 13, 13);
  cursor: pointer;
}

.logout :hover {
  background-color: #d6e5e2;
  color: rgb(125, 4, 4);
}

.profile-container {
  display: flex;
}

.component-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.component-container h2 {
  text-align: left;
}

.sidebar-divider {
  width: 90%;
  border: none;
  border-top: 1px solid #ccc;
  margin: auto;
}
