.event-container {
  width: 800px;
  height: 20vh;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0.1px solid #00000034;
}

.event-image {
  border-radius: 8px;
  width: 180px;
  height: 90px;
  border: 2px solid #000000;
  margin-right: 15px;
  margin-left: 15px;
}

.info {
  flex-direction: column;
  margin-left: 15px;
  padding-bottom: 5px;
}

.info p {
  color: grey;
  font-size: 13px;
}

.event-button {
  flex-direction: column;
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.event-button button {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  border: #000000;
}

.event-button .edit-button button {
  width: 100px;
  background-color: #61bfad;
  margin-top: 40px;
}

.event-button .download-button button {
  width: 150px;
  background-color: white;
  padding-right: 60px;
}

.event-button .download-button button:hover {
  color: green;
}

.event-button .edit-button button:hover {
  background-color: #4f8f82;
}

.remaining {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: grey;
}
