.event-container {
  width: 800px;
  height: 20vh;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0.1px solid #00000034;
}

.event-image {
  border-radius: 8px;
  width: 180px;
  height: 90px;
  border: 2px solid #000000;
  margin-right: 15px;
  margin-left: 15px;
}

.info {
  flex-direction: column;
  margin-left: 15px;
  padding-bottom: 5px;
}

.info p {
  color: grey;
  font-size: 13px;
}

.remaining {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: grey;
}

.tab-container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.tab-button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 0 120px;
  border: none;
  background: none;
  font-weight: bold;
  border-bottom: 3px solid transparent; /* Ensures no movement */
  font-size: 1.1rem;
  padding: 10px 20px;
  margin-bottom: 0;
}

.tab-button:hover {
  border-bottom: 2px solid black;
  box-shadow: 0 4px 6px #f1b9b91a; /* Shadow below button */
  background: none;
}

.tab-button.active {
  border-bottom: 2px solid black; /* Make the active tab stand out */
  color: #000; /* Active text color */
  font-weight: bold; /* Bold text on active */
  box-shadow: 0 4px 6px #f1b9b91a; /* Active shadow */
}

/* Separator Line */
.separator {
  background-color: white;
  box-shadow: 0 1px px #ccc;
  margin: 0;
  padding: 0;
}
