.event-container {
  width: 800px;
  height: 20vh;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0.1px solid #00000034;
}

.event-image {
  border-radius: 8px;
  width: 180px;
  height: 90px;
  border: 2px solid #000000;
  margin-right: 15px;
  margin-left: 15px;
}

.info {
  flex-direction: column;
  margin-left: 15px;
  padding-bottom: 5px;
}

.info p {
  color: grey;
  font-size: 13px;
}

.remaining {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: grey;
}
.tab-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

/* Separator line */
.separator {
  all: unset; /* Reset inherited styles */
  border: none;
  height: 1px;
  background-color: #ccc; /* Light gray line */
  margin: 10px 0; /* Space above and below the line */
}
